{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'currencies/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'currencies/style.css' %}" />
<script defer src="{% static 'currencies/fontawesome-all.min.js' %}"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">
        <i class="fas fa-dollar-sign mr-1"></i>CW
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/noticias">Notícias</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#/saibamais">Saiba mais</span></a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span><i class="fab fa-facebook"></i></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span><i class="fab fa-instagram"></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span><i class="fab fa-twitter"></i></i></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-sm-10 col-offset-1">
            <div class="jumbotron mt-3">
                <h1 class="display-5">Currency Watcher</h1>
                <p class="lead mb-0">Currency Watcher é um aplicativo que faz parte do grupo de produtos Challenge Alpha e que
                    te deixa por dentro da variação das principais moedas do mercado atual. Aproveite!
                </p>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sigla</th>
                        <th scope="col">Preço (BRL)</th>
                        <th scope="col">Última atualização</th>
                    </tr>
                </thead>
                <tbody>
                {% for currency in currencies_list %}
                    <tr>
                        <td>{{ currency.name }}</td>
                        <td>{{ currency.price_brl }}</td>
                        <td>{{ currency.last_update }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'currencies:index' %}" class="btn bg-outline-accent right">
                <i class="fas fa-sync mr-1"></i>Atualizar
            </a>
        </div>
    </div>
</div>