.right {
    float: right;
}

.bg-primary {
    background-color: #303F9F !important;
}

.bg-outline-accent {
  background-color: white;
  border-color: #FF4081 !important;
  color: #FF4081 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
}